/*Everything on page, before and after*/
*, *::before, *, *::after {
  box-sizing: border-box;
}

/*CSS Functions for Background*/
:root {
  --bg-normal: 175;
  --bg-incorrect: 360;
  --bg-correct: 150;
}

/*Main Body*/
body {
  --bg: var(--bg-normal);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-family: 'Courier New', Courier, monospace;
  background-color: hsl(var(--bg), 100%, 30%);
}

/*Function change background - links to JavaScript to change depending on correct/wrong answer*/
body.correct {
  --bg: var(--bg-correct);
}

body.incorrect {
  --bg: var(--bg-incorrect);
}

/*Header Area*/
.header {
  position: absolute;
  top: 5%;
  text-align: center;
  margin: 0 5%;
  color: #e8e8e8;
}

/*Main Quiz Area*/
.quiz-container {
  margin-top: 100px;
  width: 750px;
  max-width: 80%;
  background-color: #e8e8e8;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 15px 5px;
}

/*Links inside Quiz Area*/
div a {
  color: #1a1a1a;
  font-size: 1.5rem;
}

div a:hover{
  color: #e8e8e8;
  background-color: #1a1a1a;
}

/*Difficulty/Question Area*/
#difficulty {
  text-align: center;
  font-size: 1.5rem;
}

#question {
  font-size: 1.5rem;
}

/*Buttons*/
.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 15px;
  margin: 15px 0;
}

.btn {
  --bg: var(--bg-normal);
  background-color: hsl(var(--bg), 100%, 15%);
  border: 3px solid hsl(var(--bg), 100%, 25%);
  border-radius: 5px;
  padding: 10px 15px;
  color: #e8e8e8;
  font-size: 1.2rem;
  outline: none;
}

.answer-btn {
  --bg: var(--bg-normal);
  background-color: hsl(var(--bg), 100%, 15%);
  border: 1px solid hsl(var(--bg), 100%, 25%);
  border-radius: 5px;
  padding: 10px 15px;
  color: #e8e8e8;
  font-size: 1.2rem;
  outline: none;
}

/*Answer Button Colouring (functions)*/
.answer-btn.correct {
  --bg: var(--bg-correct);
}

.answer-btn.incorrect {
  --bg: var(--bg-incorrect);
}

/*Control Buttons*/
.controls {
  display: grid;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.next-btn, .restart-btn {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px 20px;
}

/*Score Area*/
.score-font {
  font-size: 1.2rem;
}

#correct-score {
  --bg: var(--bg-correct);
  color: hsl(var(--bg), 100%, 30%);
}

#incorrect-score {
  --bg: var(--bg-incorrect);
  color: hsl(var(--bg), 100%, 50%);
}
/*Audio Area*/
#audio-control{
  display: flex;
  justify-content: flex-end;
}

/*Hide*/
.hide {
  display: none !important;
}

/*Footer and Links*/
#footer {
  text-align: center;
  bottom: 0;
  position: fixed;
  background-color: #1a1a1a;
  width: 100%;
  height: auto;
  padding-top: 10px;
  color: #e8e8e8;
}

footer a {
  text-decoration: none;
  color: #e8e8e8;
  font-size: 1.2rem;
}

footer a:hover {
  color: #1a1a1a;
  background-color: #e8e8e8;
}

.footer-links {
  display: flex;
  justify-content: space-around;
}

/*Contact Us Page*/
#contact-form {
  display: grid;
  gap: 10px;
}

#home-btn {
  position: absolute;
  margin-top: 480px;
}