/*Everything on page, before and after*/
*, *::before, *, *::after {
  box-sizing: border-box;
}

/*CSS Functions for Background*/
:root {
  --bg-normal: 175;
  --bg-incorrect: 360;
  --bg-correct: 150;
  --bg-sent: 179;
}

/*Main Body*/
body {
  --bg: var(--bg-normal);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 1000px;
  font-family: 'Courier New', Courier, monospace;
  background-color: hsl(var(--bg), 100%, 30%);
}

/*Main Body Section*/
#main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/*Function change background - links to JavaScript to change depending on correct/wrong answer*/
body.correct {
  --bg: var(--bg-correct);
}

body.incorrect {
  --bg: var(--bg-incorrect);
}

body.sent {
  --bg: var(--bg-sent);
  background: hsl(var(--bg), 38%, 55%);
}

/*Header Area*/
.header {
  position: absolute;
  top: 0;
  height: 200px;
  text-align: center;
  margin: 0 5%;
  color: #e8e8e8;
}

h1 {
  font-size: 2rem;
}

/*Main Quiz Area*/
.quiz-container {
  position: absolute;
  margin: 5vh auto 0 auto;
  width: 750px;
  top: 175px;
  background-color: #e8e8e8;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 15px 5px;
}

/*Links inside Quiz Area*/
div a {
  color: #1a1a1a;
  font-size: 1.5rem;
}

div a:hover{
  color: #e8e8e8;
  background-color: #1a1a1a;
}

/*Username Area*/
#username-area {
  text-align: center;
  display: grid;
  gap: 10px;
}

.username {
  width: 100%;
  display: grid;
  gap: 10px;
  align-items: center;
}

#username {
  width: 100%;
  font-family: 'Courier New', Courier, monospace;
}

/*Tooltip Area*/
.tooltip {
  display: flex;
  margin-right: auto;
  width: 16px;
}
  /*Tooltip Styling*/
.tooltip .tooltip-text {
  visibility: hidden;
  width: 500px;
  max-width: 75%;
  text-align: center;
  border-radius: 3px;
  background-color: #1a1a1a;
  color: #e8e8e8;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}

/*Progress Bar Area*/
#progress-container {
  text-align: center;
}
  /*IE and EDGE*/
progress {
  --bg: var(--bg-normal);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 50%;
  height: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  border: 2px solid #1a1a1a;
  background-color: #e8e8e8;
  color: hsl(var(--bg), 100%, 30%);
}
  /*Webkit - Chrome, Safari, Opera etc.*/
progress::-webkit-progress-bar {
  background: #e8e8e8;
  border-radius: 20px;
}
  
progress::-webkit-progress-value {
  --bg: var(--bg-normal);
  background: hsl(var(--bg), 100%, 30%);
  border-radius: 20px;
}
  /*Firefox*/
progress::-moz-progress-bar {
  --bg: var(--bg-normal);
  background: hsl(var(--bg), 100%, 30%);
  border-radius: 20px;
}

/*Quiz Complete Area*/
#quiz-complete{
  text-align: center;
}

/*Difficulty/Question Area*/
#difficulty {
  text-align: center;
  font-size: 1.5rem;
}

#welcome-user {
  text-align: center;
}

#question {
  font-size: 1.5rem;
}

/*Buttons*/
.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 15px;
  margin: 15px 0;
}

.btn {
  --bg: var(--bg-normal);
  background-color: hsl(var(--bg), 100%, 15%);
  border: 3px solid hsl(var(--bg), 100%, 25%);
  border-radius: 5px;
  padding: 10px 15px;
  color: #e8e8e8;
  font-size: 1.2rem;
  outline: none;
  font-family: 'Courier New', Courier, monospace;
}

.answer-btn {
  --bg: var(--bg-normal);
  background-color: hsl(var(--bg), 100%, 15%);
  border: 1px solid hsl(var(--bg), 100%, 25%);
  border-radius: 5px;
  padding: 10px 15px;
  color: #e8e8e8;
  font-size: 1.2rem;
  outline: none;
  font-family: 'Courier New', Courier, monospace;
}

/*Answer Button Colouring (functions)*/
.answer-btn.correct {
  --bg: var(--bg-correct);
}

.answer-btn.incorrect {
  --bg: var(--bg-incorrect);
}

/*Control Buttons*/
.controls {
  display: grid;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.next-btn, .restart-btn {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px 20px;
}

/*Score Area*/
.score-font {
  font-size: 1.2rem;
}

#correct-score {
  --bg: var(--bg-correct);
  color: hsl(var(--bg), 100%, 30%);
}

#incorrect-score {
  --bg: var(--bg-incorrect);
  color: hsl(var(--bg), 100%, 50%);
}

/*Audio Area*/
#audio-control{
  display: flex;
  width: 30px;
  margin-left: auto;
}

.audio-controls {
  font-size: 1.5rem;
}

/*Hide*/
.hide {
  display: none !important;
}

/*Random Advice Area*/
#random-advice {
  position: absolute;
  top: 660px;
  text-align: center;
  margin-top: 5vh;
  color: #e8e8e8;
}

p#random-advice {
  max-width: 80%;
  margin: 0 5%;
}

/*Footer and Links*/
#footer {
  text-align: center;
  bottom: 0;
  position: fixed;
  background-color: #1a1a1a;
  width: 100%;
  height: 140px;
  height: auto;
  padding-top: 10px;
  color: #e8e8e8;
}

footer a {
  text-decoration: none;
  color: #e8e8e8;
  font-size: 1.2rem;
}

footer a:hover {
  color: #1a1a1a;
  background-color: #e8e8e8;
}

.footer-links {
  display: flex;
  justify-content: space-around;
}

/*Contact Us Page*/
  /*Form Area*/

form h3 {
  text-align: center;
}
#contact-form {
  display: grid;
  gap: 10px;
}

textarea {
  resize: none;
}

#project {
  text-align: center;
  border: none;
  background-color: #e8e8e8;
  color: #1a1a1a;
  font-family: 'Courier New', Courier, monospace;
}

  /*Form Sent Area*/
#form-sent{
  text-align: center;
}

.sent-img {
  width: 40%;
}
  /*Home Button*/
#home-btn {
  position: absolute;
  margin-top: 480px;
}
/*404 Error Page*/
#error-div img {
  width: 80%;
}
#error-div {
  text-align: center;
}

/*Responsive Design*/
  /*Screen sizes 1300px and smaller*/
  @media only screen and (max-width:1300px){
    body {
      height: 1200px;
    }
    #random-advice {
      top: 800px;
    }
  }

  /*Screen sizes 850px and smaller*/
@media only screen and (max-width:850px){
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1rem;
  }
  .header {
    height: 160px;
  }
  .quiz-container {
    top: 160px;
    margin: 20px auto 0 auto;
    width: 500px;
  }
}
  /*Screen sizes 600px and smaller*/
@media only screen and (max-width:600px){
  .quiz-container {
    width: 400px;
  }
}

  /*Screen sizes 450px and smaller*/
@media only screen and (max-width: 450px){
  body {
    height: 900px;
  }
  h1 {
    font-size: 1rem;
  }
  h2 {
    font-size: 0.75rem;
  }
  .quiz-container {
    width: 250px;
  }
  div a, #difficulty, #question, #welcome-user, .btn, .answer-btn, .next-btn, .restart-btn, .audio-controls, h3, #username, #progress-text, #correct-score-div, #incorrect-score-div {
    font-size: 0.75rem;
  }
  .btn-grid {
    grid-template-columns: auto;
    gap: 10px;
  }
  #random-advice {
    top: 650px;
    font-size: 0.75rem;
  }
  #footer{
    font-size: 0.5rem;
    height: auto;
  }
  footer a {
    font-size: 0.75rem;
  }
}