*, *::before, *, *::after {
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

:root {
  --bg-normal: 175;
  --bg-incorrect: 360;
  --bg-correct: 150;
}

body {
  --bg: var(--bg-normal);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: hsl(var(--bg), 100%, 30%);
}